<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY JOURNAL</title>
    <!--  css  -->
    <link rel="stylesheet" href="style.css">
    <style>
        
    </style>
</head>

<body>
    <%- include("nav") -%>

        <% for(var i=0; i < arrStore.length; i++) {%>
            <div class="container">
                <h3>
                    <a href="/post/<%= arrStore[i].title %>"><%= arrStore[i].title %></a>
                </h3>
                <p>
                    <%= arrStore[i].data.slice(0, 100) %>
                    <a href="/post/<%= arrStore[i].title %>" style="text-transform : lowerCase; text-decoration: underline; color : blue">read more</a>
                </p>
            </div>
            <% } %>

    <%- include("footer") -%>

</body>

</html>